In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
path = "ExDark_Annno/ExDark_Annno"
print(f"Total Class Labels in ExDark Dataset: {len(os.listdir(path))}")
print(F"Class labels: {os.listdir(path)}")

Total Class Labels in ExDark Dataset: 12
Class labels: ['Bicycle', 'Boat', 'Bottle', 'Bus', 'Car', 'Cat', 'Chair', 'Cup', 'Dog', 'Motorbike', 'People', 'Table']

In [17]:
tot_count = 0

for i in os.listdir(path):
    class_img_count = 0
    for j in os.listdir(f"{path}/{i}"):
        tot_count += 1
        class_img_count += 1
    print(f"Total number of images in class {i}: {class_img_count}")
    
print(f"Total number of images in all classes: {tot_count}")

Total number of images in class Bicycle: 652
Total number of images in class Boat: 679
Total number of images in class Bottle: 547
Total number of images in class Bus: 527
Total number of images in class Car: 638
Total number of images in class Cat: 735
Total number of images in class Chair: 648
Total number of images in class Cup: 519
Total number of images in class Dog: 801
Total number of images in class Motorbike: 503
Total number of images in class People: 609
Total number of images in class Table: 505
Total number of images: 7363

In [78]:
train_imgs = []
valid_imgs = []
test_imgs = []

for i in os.listdir(path):
    class_list = os.listdir(f"{path}/{i}")
    train_imgs.append([i, np.array(class_list[:250])])
    valid_imgs.append([i, np.array(class_list[250: 400])])
    test_imgs.append([i, np.array(class_list[400:])])

In [125]:
file_path = "ExDark_Annno/ExDark_Annno/Bicycle/2015_00108.jpg.txt"
img_list = []
with open(file_path) as f:
    lines = f.readlines()
    for i in lines[1:]:
        print(i.split(" ")[:5])
        img_list.append(["2015_00108.jpg"] + i.split(" ")[:5])

['Bicycle', '370', '140', '143', '144']
['People', '377', '72', '103', '159']

In [139]:
train_data = []
for class_wise_train_imgs in train_imgs:
    class_label = class_wise_train_imgs[0]
    for annot in class_wise_train_imgs[1]:
        file_path = f"{path}/{class_label}/{annot}"
        img_list = []
        with open(file_path) as f:
            lines = f.readlines()
            for i in lines[1:]:
                img_list.append([annot[:-4]] + i.split(" ")[:5])
        train_data.extend(img_list)

valid_data = []
for class_wise_valid_imgs in valid_imgs:
    class_label = class_wise_valid_imgs[0]
    for annot in class_wise_valid_imgs[1]:
        file_path = f"{path}/{class_label}/{annot}"
        img_list = []
        with open(file_path) as f:
            lines = f.readlines()
            for i in lines[1:]:
                img_list.append([annot[:-4]] + i.split(" ")[:5])
        valid_data.extend(img_list)

test_data = []
for class_wise_test_imgs in test_imgs:
    class_label = class_wise_test_imgs[0]
    for annot in class_wise_test_imgs[1]:
        file_path = f"{path}/{class_label}/{annot}"
        # print(file_path)
        img_list = []
        with open(file_path) as f:
            lines = f.readlines()
            for i in lines[1:]:
                img_list.append([annot[:-4]] + i.split(" ")[:5])
        test_data.extend(img_list)

In [142]:
train_data = pd.DataFrame(train_data, columns = ["Image_id", "Label", "x1", "y1", "w", "h"])
valid_data = pd.DataFrame(valid_data, columns = ["Image_id", "Label", "x1", "y1", "w", "h"])
test_data = pd.DataFrame(test_data, columns = ["Image_id", "Label", "x1", "y1", "w", "h"])

train_data.head(5)

         Image_id    Label   x1   y1    w    h
0  2015_00001.png  Bicycle  204   28  271  193
1  2015_00002.png  Bicycle  136  190   79  109
2  2015_00002.png  Bicycle  219  172   63  131
3  2015_00002.png  Bicycle  277  188   76  124
4  2015_00002.png  Bicycle  348  183   57   81

In [147]:
train_data.to_excel("exdark_train.xlsx", index=False)
valid_data.to_excel("exdark_validation.xlsx", index=False)
test_data.to_excel("exdark_test.xlsx", index=False)